.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.ibb.co/rcNzTB4/slide.jpg");
  /* background-image: url("https://i.ibb.co/rcNzTB4/slide.jpg"); */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  opacity: 10;
  overflow: hidden;
}
